.vrtContainer {
    display: flex;
}

.skills {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: auto;
    
}

.lineBreak {
    height: auto;
    width: auto;
    margin: 1%;
}

.responsiveGif {
    width: auto;
    height: 100%;
}

.iframeCss {
    max-width: 100%; 
    width: 480px;
    height: 270px;
    margin: 0;
}

