.carouselWrapper {
    --direction: "rtl";
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // This was the problem for it not showing up.
    //Keep?
    height: 400px; 
    direction: var(--direction);
}

.styledCarousel {
    --thisHeight: 100%;
    height: var(--thisHeight);
    display: flex;
    flex-direction: row;
    width: 80%; //change this. 
}

.sliderContainer {
    overFlow: hidden;
    position: relative;
    width: 100%;
    margin: 0 10px;
}

.sliderMode {
    --calcTransResult: unset;
    --calcLeftResult: unset;
    --calcRightResult: unset;
    --calcTopResult: unset;

    // I think this is what we have to move to move the 
    // cards

    transition: val(--calcTransResult); //doing this right?
    left: val(--calcLeftResult);
    right: val(--calcRightResult);
    top: val(--calcTopResult);
    position: absolute;
    display: flex;
    flex-direction: row;
    // some functions here but not sure why
}
