

.cardContainer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    // have this be a var that is adjusted?
    gap: 30px;

    width: 55rem;
    height: 22rem;
}

// .cardContainer > * {
//     margin: 300px;
// }
